# Square
SQUARE_ACCESS_TOKEN=
SQUARE_ENVIRONMENT=sandbox
SQUARE_LOCATION_ID=
NEXT_PUBLIC_SQUARE_APP_ID=
NEXT_PUBLIC_SQUARE_LOCATION_ID=
NEXT_PUBLIC_SQUARE_ORDERING_PROFILE_URL=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Square Webhooks
SQUARE_WEBHOOK_SIGNATURE_KEY=

# Outstatic
OUTSTATIC_API_KEY=

# App
NEXT_PUBLIC_SITE_URL=
